<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <h1>
            <%= data.name %>
        </h1>
        <h2>
            <%= data.house %>
        </h2>
        <h3>
            <%= data.patronus %>
        </h3>
        <h4>
            <%= data.isalive %>
        </h4>

        <button>Update</button>
        <form action="/update/<%= data.id%>?_method=put" method="POST">
            <input type="text" name="name" value="<%= data.name %>">
            <input type="text" name="house" value="<%= data.house %>">
            <input type="text" name="patronus" value="<%= data.patronus %>">
            <input type="text" name="isAlive" value="<%= data.isalive %>">
            <button type="submit">Update</button>
        </form>

        <form action="/delete/<%= data.id%>?_method=delete" method="POST">
            <button>Delete</button>
        </form>
    </main>
</body>

</html>