<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <main>
        <% data.forEach(data=>{ %>
            <div class="homedivs">
                <h1>
                    <%= data.namec %>
                </h1>
                <h2>
                    <%= data.house %>
                </h2>
                <h3>
                    <%= data.patronus %>
                </h3>
                <h4>
                    <%= data.isAlive %>
                </h4>
                
                <form action="/addtofav " method="POST">
                <input type="hidden" name="name" value="<%= data.namec %>">
                <input type="hidden" name="house" value="<%= data.house %>">
                <input type="hidden" name="patronus" value="<%= data.patronus %>">
                <input type="hidden" name="isAlive" value="<%= data.isAlive %>">
                <button type="submit">♥</button>
                </form>
            </div>
                <% }) %>

  

    </main>
</body>

</html>